*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header {
  margin: 0 auto;
  width: 100%;
  height: 250px;
}
.banner-area {
  position: relative;
  background: url("images/umberto-FewHpO4VC9Y-unsplash.jpg");
  width: 100%%;
  height: 500px;
  background-repeat: no-repeate;
  /* -webkit-background-size: cover; */
  background-size: cover;
}

body {
  font-family: fantasy;
  background: url("images/gradienta-m_7p45JfXQo-unsplash.jpg");
  line-height: 1.6;
  height: 100vh;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: darkcyan;
  width: 100%;
  height: 75px;
  z-index: 1;
  /* top: 0; */
}
.nav {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
}
.logo {
  flex: 1 1 auto;
  margin-left: 10%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
}

a {
  margin: 15px;
  color: purple;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: blue;
}

.text-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}
.tech-area {
    width: 100%;
    height:auto;

}

h1 {
  font-size: 50px;
  font-family: Audiowide;
  text-align: center;
  position: relative;
}
p {
  font-size: 24px;
  line-height: 50px;
  text-align: center;
}

img {
    display: inline-block;
    width: 100%;

}

/* CARD CSS */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

/* grind gallery  */

h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }

/* .about-area {
  background-color:
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
} 
.projects-area {
    background-color:
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  } 
.tech-area {
    background-color:
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  } 
.contact-area {
    background-color:
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }  */

/* extra code notes  */
/* .container {
  width: 100%;
  height: 100%;
  /* css smooth scroll */
/* overflow-y: scroll;
  scroll-behavior: smooth;
} */

/* background: url(images/matrixbackground.jpeg); */
/* background-repeat: no-repeat; */
/* html {
  /* scroll-behavior: smooth; */
/* scroll-snap-type: y mandatory; */

/* /////// */

/* .about-area,
.projects-area,
.tech-area,
.contact-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 700px;
}  */
